header{
    display: flex;
}
html{
    background-color: rgb(189, 58, 189);
}

p{
    text-justify: auto;
    font-size: 15px;

}

img{
    height: 254px;
    width: 400px;
}
h1{
    align-items: center;
}
h2{
    align-items: center;
    justify-content: space-around;
}

